/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* -------------------------------- More Reser rules -------------------------------- */ 
* {
    box-sizing: border-box;
}

/* -------------------------------- Helpers -------------------------------- */ 

.italic{
    font-style: italic;
}

.flex-class{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.text-red {
    color: #c03232;
}

.justify-right{
    text-align: right;
}

/* -------------------------------- GENERALES RULES -------------------------------- */ 

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f9f9f9;
}

.container-fluid{
    padding: 0px;
}

h1 {
    font-size: 40px;
    line-height: 60px;
    color: #f4e6e6;
}

h1 b{
    font-weight: 700; 
}

h3 {
    font-size: 18px; 
    font-weight: 600;
}



/* ------------- SECTION 1 ------------- */ 
.black-background{
    position: absolute;
    background-color: #333; 
    width: 100%;
    height: 95px;
    z-index: -1;
}

.red-background{
    position: absolute;
    background-color: #ed4e4d; 
    width: 100%;
    height: 630px;
    z-index: -2;
}

.section1 {
    padding-top: 15px;
}

.logo{
    width: 115px;
    height: auto;
}

.banner {
    margin-bottom: 105px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}


.menu li {
    font-size: 18px;
    color: white;
    font-weight: 300;
    letter-spacing: 0.04em;
    margin-left: 55px; 
}

.menu li a{
    color: #f9f9f9;
    text-decoration: none;
}

.section1-left-div h1 {
    margin-bottom: 33px;  
    font-weight: 300;
    padding-right: 0px;
    
    font-size: 36px;
    line-height: 50px;
    letter-spacing: 0.02em;
}

.watch {
    color: #eddede;
    margin-bottom: 42px;
}
.watch img {
    height: 45px;
    width: auto;
    margin-right: 10px;
}


.iphone{
    width: 290px;
    height: auto;
    padding-top: 10px;
    margin-left: -30px;
}

.download-btn img{
    height: 50px;
    padding-right: 22px;
}

/* ------------- SECTION 2 ------------- */ 

.section2 {
    margin-top: 150px;
}

.section2 h1 {
    width: 100%;
    text-align: center;
    color: #2c3342;
    margin-bottom: 140px;
}

.section2 p {
    color: black;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 19px;
    padding: 0 20px;
}

.bin-img {
    height: 420px;
    width: auto;
    margin-left: auto;
    margin-top: -40px;
}



/* ------------- SECTION 3 ------------- */
.section3 {
    margin-top: 150px;
}

.section3 h1 {
    width: 100%;
    text-align: left;
    color: #2c3342;
    margin-bottom: 145px;
    padding-left: 40px;
}

.people-talk-img {
    height: 450px;
    width: auto;
    margin-left: auto;
    margin-top: -70px;
}

.section3 p{
    color: black;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 19px;
    padding: 0 17px;
}

.social-life-text{ 
    display: block;
    text-align: right !important; 
    margin-top: 100px;
    margin-bottom: 190px;
}

.section3-red{
    text-align: center;
    font-weight: 700;
    font-size: 26px;
}

.section3-more-infos-sections>*{
    margin-bottom: 50px; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


.section3-more-infos-first P{
    margin-bottom: 0px;
    width: 670px;
    text-align: justify;
    margin-left: -10px;
}


.section3-more-infos-second{
    text-align: right;
    padding-bottom: 0px;
}

.section3-more-infos-second P{
    width: 700px;
    margin-left: 260px;
    margin-bottom: 0;
}

.section3-more-infos-third P{
    margin-bottom: 0px;
    width: 670px;
    text-align: justify;
    margin-left: -10px;
}

.section3-more-infos-sections{
    margin-bottom: 130px;
}


/* ------------- SECTION 4 ------------- */

#section4 {
    background-color: #26292e;
}

.section4{
    color: #f9f9f9;
    text-align: center;
}

.section4 h2{
    margin-top: 78px;
    margin-bottom: 44px;
    font-size: 28px;
    font-weight: 300;
    letter-spacing: 0.05em;
}

.convinced-download img{
    height: 50px;
    margin: 0 7px;
    margin-bottom: 70px;
}

/* ------------- SECTION 5 ------------- */

.section5-h1{
    margin-top: 135px;
    margin-bottom: 120px;
    text-align: center;
}

.iphone2-img{
    width: 212px;
    height: auto;
    margin-left: -23px;
}

.section5-list img{
    width: 40px;
    height: 40px;
}

.section5-list {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 50px 0;
    opacity: 0.75;
}
.section5-list:hover{
      opacity: 1.0;  
}


.section5-list :first-child{
    margin-right: 20px;
}


.section5-panels-left .section5-list{
    margin-right: 60px;
    text-align: right;
}

.section5-panels-left .section5-list p{
    width: 310px;
}


.section5-panels-right .section5-list{
    margin-left: 60px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}


.section5-flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
}

.section5-panels-right .section5-list p{
    width: 360px;
}


hr.custom-hr{
    margin: 125px 25px 0px 25px;
 	border-top: 2px dashed #e0e0e0;   
}

/* ------------- SECTION 6 ------------- */

.section6-h1{
    margin-top: 80px;
    margin-bottom: 70px;
    text-align: center;
}

.section6 img{
    width: 100px;
    height: auto;
}

.section6-items{
    text-align: center;
}

.section6-items h3{
    font-size: 15px;
    font-weight: 700;  
    margin: 10px 0;
}

.section6-items p{
    font-size: 12px;
    font-weight: 600;
    width: 280px;
    margin: 0 auto;
    margin-bottom: 55px;  
}


/* ------------- SECTION 7 ------------- */

#section7 {
    background-color: #26292e;
}

.section7{
    color: #f9f9f9;
    text-align: center;
}

.section7 h2{
    margin-top: 78px;
    margin-bottom: 44px;
    font-size: 28px;
    font-weight: 300;
    letter-spacing: 0.05em;
}

.seriously-download img{
    height: 50px;
    margin: 0 7px;
    margin-bottom: 70px;
}


/* ------------- SECTION 8 ------------- */

.section8-h1{
    margin-top: 80px;
    margin-bottom: 60px;
    text-align: center;
}

.section8 .row{
    width: 770px;
    margin: 0 auto;
}

.section8-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    
    padding: 0 20px 24px 20px;
}

.section8-items img{
    width: 230px;
    height: 140px;
}

.section8-items h3{
    position: absolute;
    z-index: 2;
    color: white;
}

.section8>h3{
    text-align: center;
    margin-top: 8px;
    font-size: 14px;
}



.section8 form{
    text-align: center; 
    margin-top: 35px;
    margin-bottom: 50px;
}

.section8-form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.section8-text-input {
    width: 210px;
    height: 30px;
    padding-left: 10px;
    background : #d1d1d1; 
    border: 0px solid;
    box-shadow: none; 
    border-radius: 3px 0 0 3px;
    color: #f9f9f9;
    font-weight: 500;
}

.section8-submit{
    height: 30px; 
    width: 50px;
    background: #26292e;
    color: #f9f9f9;
    border: 0px solid;
    box-shadow: none;
    font-size: 12px;
    border-radius: 0 3px 3px 0;
    font-weight: 600;
}

/* ------------- SECTION 9 ------------- */

#section9 {
    background-color: #26292e;
    color: #d4d4d4;
}

.section9{
    margin-top: 75px;
    margin-bottom: 40px;
}

.section9-left .row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;  
}

.col-about{
    margin-right: 120px;
}

.footer-left-col h3{
    color: white;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 10px;
}

.footer-left-col li{
    padding: 5px 0;
    font-size: 14px;
    font-weight: 300;
}

.footer-left-col a{
    color: #d4d4d4;
    text-decoration: none;
}



.section9-center{
    text-align: center;
}

.section9-center>h3{
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin-top: 0px;;
}

.section9-center img{
    width: 30px;
    height: auto;
    margin-top: 25px;
    margin-bottom: 65px;
    margin-left: 12px;
    margin-right: 12px;  
}

.section9-center p{
    font-size: 14px;
}


.section9-right{
    text-align: right;
}

.footer-download {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-top: 20px;
}

.footer-download img{
    height: 45px;
    margin: 0 7px;
    margin-bottom: 68px;
}

.footer-heart{
    width: 15px;
    height: auto;
}






.big-title-font{
    color: black;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 0.02em;
}




/* -------------------------------- Animation -------------------------------- */ 

a:hover{
    opacity: 0.9;
    text-decoration: none;
    color: #f9f9f9;
}

/* ---------------------------- Responsive design ---------------------------- */ 

@media (max-width: 1200px) and (min-width:767px)  {
    .section3-more-infos-second .section3-red{
        position: absolute;
        right: -8px;
        top: -30px;
    }

}




@media (max-width: 769px) {
    
    
     .big-title-font{
        font-size: 24px;
        margin-top: 65px;
        margin-bottom: 35px !important;
        text-align: center !important;
    }
    

    /* ------------- SECTION 1 ------------- */ 
    .black-background{
        height: 80px;
    }
      .red-background{
        height: 820px !important;
    }
    
    .banner {
        margin-bottom: 0px;    
    }
    
    .responsive-nav{
        text-align: center;   
        position: relative;
    }
    
    .logo{
        width: 100px;
        margin: 0 auto;
    }
    
    .hamburger{
        position: absolute;
        top: 15px;
        right: 30px;
    }
    
    
    .responsive-nav-div{
        margin: 0;
        padding: 0;
    }
    
    .menu{
        margin: 0;
        margin-top: 15px;
        padding: 0;
        text-align: center;
        background: #444;
        display: none;
    }
    
   
    .menu li{
        margin: 0;
        border-bottom: solid 1px #808080;
    }
    
    .menu li a{
        line-height: 50px;
        font-size: 25px;
    }
    
    
    
    
    
    .section1-left-div h1{ 
        margin-top: 105px;
        text-align:center;
        font-size: 36px;
        font-weight: 400;
        
    }
    
    .watch-video-button{
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 75px;
        margin-bottom: 85px;
    }
    
    
    .download-btn{
        -ms-flex-pack: distribute;
        -webkit-box-pack: center;
        justify-content: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    
    .download-btn img{
        width: 210px;
        height: auto;   
        margin: Opx;
        padding: 0px 10px;
        margin-bottom: 40px;
        
    }
    
    .red-background{
        height: 660px;
    }
    
    /* ------------- SECTION 2 ------------- */ 
    .section2 h1 {
        margin-bottom: 0px;
    }
    
    .additional-sectin2-h1{
        font-weight: 700;
        margin-top: 60px;
    }
    
    .responsive-p{
        padding: 0 6px !important;
        text-align: center;
    }

    .bin-img-div{
        margin-top: 0;
        text-align: center;
    }
    
    .bin-img{
        margin-top: 0;
        height: 360px;
        width: auto;
    }
    
    /* ------------- SECTION 3 ------------- */    
    .section3{
        margin-top: 80px;
    }
    
    .section3 responsive-p {
        padding: 0;
    }
    
    
    .people-talk-div{
        text-align: center;    
    }
    
    .people-talk-img{
        margin-top: 30px;
        
        width: 55%;
        height: auto;
    }
    
    .social-life-text{
        margin-top: 140px;
        line-height: 32px;
        margin-bottom: 70px !important;
    }
    
    
    /*  -----  */
    
    .section3-more-infos-first {
        padding: 0 55px;
        margin-bottom: 15px;
    }   
    
    .section3-more-infos-first .section3-red {
         text-align: left; 
         margin-bottom: 7px;
         padding: 3px;
    }
    
    .section3-more-infos-first p{
        width: 100%;
        font-size: 18px;
        padding: 0;
        padding-right: 60px;
        line-height: 20px;
    }
    
    .section3-more-infos-sections .row{
        margin-left: 0px;
        margin-right: 0px;
    }
    
     /*  -----  */   
    
    .section3-more-infos-second {
        padding: 0 55px;
        margin-bottom: 15px;
    }
    
    .section3-more-infos-second .section3-red {
         text-align: right; 
         margin-bottom: 7px;
         padding: 3px;
    } 
    
    .section3-more-infos-second p{
        width: 100%;
        font-size: 18px;
        padding: 0;
        padding-right: 60px;
        line-height: 20px;
        margin-left: 50px;
        padding-right: 40px;
    }
    
    /*  -----  */  
    
    .section3-more-infos-third {
        padding: 0 55px;
    }   
    
    .section3-more-infos-third .section3-red {
         text-align: left; 
         margin-bottom: 7px;
         padding: 3px;
    }
    
    .section3-more-infos-third p{
        width: 100%;
        padding: 0;
        font-size: 18px;
        padding-right: 0px;
        line-height: 20px;
    }
    
    /* ------------- SECTION 4 ------------- */     
    .section4 h2{
        font-size: 24px;
    }
    
     /* ------------- SECTION 5 ------------- */     
    .section5 h1{
        margin-top: 110px;
        margin-bottom: 50px !important;
    }
    
    .section5-iphone{
        text-align: center;
    }
    
    .section5-list-responsive{
        text-align: center;
        margin-top: 40px;
    }
    
    .section5-list-responsive img{
        width: 40px;
        height: auto;
        margin-bottom: 20px;
    }
    
     
    .section5-list-responsive p{
        width: 70%;
        margin: 0 auto;
        height: 20px;
        font-size: 18px;
    }
    
    .iphone2-img{
        margin-left: 0px;
    }
    
    /* ------------- SECTION 6 ------------- */     
    .section6-h1{
        font-size: 30px;
        margin-bottom: 80px !important;
    }
    
    .section6-items img{
        width: 150px;
        height: auto;
    }
    
    .section6-items h3{
        font-size: 18px;
    }
    
    .section6-items p{
        font-size: 18px;
        width: 70%;
        font-weight: 500;
    }
    
    /* ------------- SECTION 7 ------------- */     
    .section7 h2{
        font-size: 24px;
    }
    
    /* ------------- SECTION 8 ------------- */ 
    
    .section8 .row {
        width: auto;    
    }
    
    .section8-responsive {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: auto;
        position: relative;
    }
    
    .section8-text-responsive{
        position: absolute;
        text-align: center;
        width: 100%;
        color: white;
        font-size: 20px;
        font-weight: 500;
    }
   
    .responsive-arrow-left{
        -webkit-box-flex: 0;
        -ms-flex: 1 1 20px;
        flex: 1 1 20px; 
        
        padding-left: 10px;
        padding-right: 30px;
    }
    
     .responsive-arrow-right{
        -webkit-box-flex: 0;
        -ms-flex: 1 1 20px;
        flex: 1 1 20px; 

        padding-left: 30px;
        padding-right: 10px;
    }
    
 
    .section8-img-responsive{
        background-color: green;
        height: auto;
        width: 40%;
        -ms-flex-preferred-size: 300px;
        flex-basis: 300px;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-negative: 1;
        flex-shrink: 1;
        
    }
    
    .section-8-first-h3{
        margin-top: 40px !important;
        padding: 10px 0;
    }

    /* ------------- SECTION 9 ------------- */ 
    .footer-download{
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        
        -ms-flex-wrap: wrap;
        
        flex-wrap: wrap;
        margin-top: 0px;
        
    }
    
    .footer-download img{
        height: 70px;
        margin: 0 7px;
        margin-bottom: 70px;
    }
    
    .col-about{
        margin-left: 20px;
        margin-right: 80px;
    }
    
    .section9-left .row {
        -ms-flex-pack: distribute;
        justify-content: space-around;
        text-align: center;
        margin-bottom: 40px;
    }
    
    .footer-left-col h3{
        font-size: 24px;
        font-weight: 400;
        margin: 0;
        margin-bottom: 35px;
        
    }
    
    .footer-left-col li{
        margin: 20px 0;
    }
    
    .footer-left-col a{
        font-size: 22px;
        font-weight: 300;
        margin: 20px 0 !important;
    }
    
    
    .find-us {
        display: none;
    }
       
    .media-icon img{
        width: 50px;
        margin-left: 30px;
        margin-right: 30px;
    }
    
    .section9-center P {
        font-weight: 300;
        font-size: 24px;
        margin-bottom: 40px;
    }
    
}



@media (max-width: 464px) {
    
    .watch-video-button{
        margin-top: 30px;
        margin-bottom: 50px;
    }

    
    .section1-left-div h1{ 
        font-size: 26px;
    }
    
    .responsive-arrow-left {
        padding-left: 1px;
        padding-right: 10px;       
    }
      
    .responsive-arrow-right {
        padding-left: 10px;
        padding-right: 1px;       
    }
}












