/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* -------------------------------- More Reser rules -------------------------------- */ 
* {
    box-sizing: border-box;
}

/* -------------------------------- GENERALES RULES -------------------------------- */ 


@font-face {
    font-family: 'HelveticaNeue-Thin';
    src: local('HelveticaNeue-Thin.otf'), url('HelveticaNeue-Thin.otf') format('opentype');
}

body {
    font-family: 'Montserrat', sans-serif;   
}

h1 {
    font-family: 'Montserrat', sans-serif; 
    font-size: 25px; 
}

h2 {
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700;
    line-height: 1.25;
    font-size: 52px;  
    text-transform: uppercase;
    color: #fafafa;
}

.uppercase {
    text-transform: uppercase;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;    
}

/* --------------- Hero 1 --------------- */ 
#Hero1 {
    background-image: url("../img/bgtop-red.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#hero-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#nav-menu li {
    margin-top: 20px;
    margin-left: 7px;
    margin-right: 7px;
}

.menu-item {
    color: #fafafa;
    font-family: 'Montserrat', sans-serif; 
    font-size: 16px; 
    text-align: center;
    font-weight: 700;
    text-decoration: none;
    padding: 0 6px 5px 6px;
    border-bottom: solid 3px #fafafa transparent;
    -webkit-transition: border-bottom 0.15s, color 0.15s;
    transition: border-bottom 0.15s, color 0.15s;
}

.menu-item:hover {
    border-bottom: solid 3px #fafafa;    
    -webkit-transition: border-bottom 0.15s, color 0.15s;    
    transition: border-bottom 0.15s, color 0.15s;
}


#hero-cta {
    margin-top: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}


#hero-cta-left {
    margin-right: 100px;
    padding-top: 50px;
}


#hero-cta-left p {
    font-family: 'HelveticaNeue-Thin', sans-serif; 
    font-size: 36px;
    line-height: 1.25;
    color: #f0f0f0;  
    margin-top: 45px;
    margin-bottom: 80px;
}


#hero-cta-left a {
    color:  #F9F9F9;
    text-decoration: none;
    
}

.iphone-parent-div{
    position: relative;
    height: 800px;
    width: 1200px;
    margin-bottom: -170px;
}

#iphone-img {
    position: absolute;
    -webkit-transform: scale(0.85, 0.85);
    transform:s scale(0.85, 0.85);
    left: -10px;
    top : -50px;
}

/*Animation, make the iphone transparent before animation start*/
.js-wp-iphone {
    opacity: 0.0;
}

.js-wp-iphone.animated{
    opacity: 1.0;
}


.iphone-screen {
     position: absolute;
    -webkit-transform: scale(0.85, 0.85);
    transform:s scale(0.85, 0.85);
    left: 80px;
    top : 82px; 
    opacity: 0.0;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}
.iphone-screen.screen-on {
    opacity: 1.0;
}

.iphone-btn{
    position: absolute;
    -webkit-transform: scale(0.85, 0.85);
    transform:s scale(0.85, 0.85);
    left: 287px;
    top : 22px;   
}

#btn-download {
    color: #F9F9F9;
    background-color: #353535;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700;
    font-size: 18px; 
    
    padding: 25px 50px;
    border-radius: 50px;
    border: none;
    -webkit-transition: 0.15s;
    transition: 0.15s;
} 

#btn-download:hover {
    background-color: #484848;
    -webkit-transition: 0.15s;
    transition: 0.15s;
}

#btn-download img{
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    vertical-align:middle;
    margin-right: 20px;
}

/* --------------- Feature --------------- */ 
#features .container {
    padding: 120px 20px;
    text-align: center;
}

#features .container h2{
    color: #9c9c9c;
    padding-bottom: 30px;
}

#features .container>p{
    padding: 0 120px;
    margin-bottom: 60px;
    font-family: 'HelveticaNeue-Thin', sans-serif; 
    font-size: 22px; 
    line-height: 28px;
    color: #404040;
}

.row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.column-4{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 27%;
    flex: 0 0 27%;
}

.column-4 h3{
    padding: 20px 0;
    font-weight: 700;
    font-size: 24px;
}

.column-4 p{
    font-family: 'HelveticaNeue-Thin', sans-serif; 
    font-size: 18px; 
    line-height: 24px;
    color: #646464
}


/* --------------- Download --------------- */ 

#nose{
    background-image: url('../img/bgmiddle.jpg');
    background-size: cover;
    background-position: center;
   /* background-attachment: fixed;*/
   /* height: 850px;*/
}


.download-info{
    width: 65%;
    padding: 200px 0;
}


.download-info h2 {
    margin-bottom: 40px;
    color: white;
}


.download-p {
    font-size: 24px;
    line-height: 30px;
    font-family: 'HelveticaNeue-Thin';
    margin-bottom: 50px;

}

.download-btn {
    padding: 15px;
    background: #d9332d;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    margin-left: 20px;
}

.download-btn:hover {
    background: #c33934;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}


.text-red {
    color: #f55150;
}


/* --------------- Footer --------------- */ 

#footer{
    background-color: #3d3d48;
    color: white;
    padding: 100px 0 100px 60px;
}

#footer-logo {
    padding-bottom: 40px;
}


.footer-left-row-item{
    margin: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer-left-row-item img{
    padding-right: 20px;
}

.footer-left-row-item p {
    color: #D0D0D0;
}

.p-about {
    font-style: italic;
}


/* --------------- Copyright --------------- */ 

.copyright {
    background-color: #dee4e3;
}
.copyright-footer {
    text-align: center;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

}
.copyright-footer h3:after{
    content: "";
    border: solid 1px #404040;
    margin-left: 30px
}

.copyright-footer img{
    margin-left: 30px;
}


/* -------------------------------- MEDIA QUERIE -------------------------------- */

@media only screen and (max-width: 1280px) {
    
   #hero-cta-left {
        margin-right: 30px;
    }
 
}


@media only screen and (max-height: 800px) {
    
    #hero-cta {
        margin-top: 20px;
    }
}



@media only screen and (max-width: 1060px) {
    
   #iphone-hero1 {
        display: none;
    }
    
    #hero-cta-left {
        text-align: center;
        margin-bottom: 50px;  
        padding-top: 40px;
    }
    
    #features .container {
        padding: 50px 0px;
        text-align: center;
    }
    
    #features .container>p{
        padding: 0 30px;
    }
    
    #footer{
        padding-right: 0px
    }
}


@media only screen and (max-width: 768px) {
    
    #hero-cta-left {
        padding-top: 0px;
    }
    
    #hero-cta-left p {
        font-size: 28px;
    }

    .download-info{
        padding: 60px 0px;
        width: 80%;
        padding-right: 100px;
    }
    
    .download-btn{
        margin-left: 150px;
    }
    
    
    .row{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    
    .column-4 p{
        width: 80%;
        margin: 0 auto;
        padding-bottom: 30px;
    }
   
    .footer-column {
        -ms-flex-line-pack: center;
        align-content: center;
        text-align: center;
    }
    
    .footer-column p{
        font-size: 20px; 
        padding-bottom: 0;
    }
    
    .footer-column img{
        display: none;
    }
    
    #footer-logo{
       display: none;
    }
    
    #footer{
        padding: 20px 0;
    }
    
    .footer-h3{
        font-size: 36px !important;
        padding-bottom: 5px !important;
    } 

}









