/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
    body {
        line-height: 1;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }


/* -------------------------------- More Reser rules -------------------------------- */ 
    * {
        box-sizing: border-box;
    }

/* -------------------------------- GENERALES RULES -------------------------------- */ 
    @font-face {
        font-family: 'Gotham-Bold';
        src: local('Gotham-Bold.otf'), url('Gotham-Bold.otf') format('opentype');
    }

    @font-face {
        font-family: 'Gotham-Light';
        src: local('Gotham-Light.otf'), url('Gotham-Light.otf') format('opentype');
    }

    @font-face {
        font-family: 'Gotham-Book';
        src: local('Gotham-Book.otf'), url('Gotham-Book.otf') format('opentype');
    }

    @font-face {
        font-family: 'Gotham-Medium';
        src: local('Gotham-Medium.otf'), url('Gotham-Medium.otf') format('opentype');
    }

    @font-face {
        font-family: 'Gotham-Black';
        src: local('Gotham-Black.otf'), url('Gotham-Black.otf') format('opentype');
    }

    @font-face {
        font-family: 'Gotham-Thin';
        src: local('Gotham-Thin.otf'), url('Gotham-Thin.otf') format('opentype');
    }


    body {
        font-family: 'Gotham-Bold', sans-serif;   
        color: white;
    }

    h1 {
        font-size: 48px;
        font-weight: 100;
    }

    .uppercase {
        text-transform: uppercase;
    }

    .text-blue{
         color:  #157ba8;   
    }

    .container {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;  
    }

/* --------------- Banner --------------- */ 
/* -------------------------------------- */ 

    fixed-banner{

    }

/*--  Top Banner --*/
    #top-banner {
        background-color: #323232;
        
        position: fixed; /* Set the navbar to fixed position */
        top: 0; /* Position the navbar at the top of the page */
        width: 100%; /* Full width */   
        z-index: 1000;
    }


    #top-banner-cont-div{
        height: 85px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
    }

    .logotop{
        margin-right: 70px;
    }

    #nav-menu{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    #nav-menu a,p{
       font-family: 'Gotham-Bold'; 
       font-size: 16px;
    }


    #nav-menu a{
        font-weight: 700;
        color: white;
        margin-right: 40px;
        text-decoration: none;
        padding-bottom: 9px;
        transition: 0,25s;
    }

    #nav-menu li a:hover{
        opacity: 0.9;
        transition: 0,25s;
    }

    nav {
        margin-right: 90px;
    }

    .menu-selected {
        border-bottom: solid 6px #009cda;
        color: #009cda !important;
    }

    .top-banner-clock{
        margin-right: 10px;
    }

    #nav-menu p{
        font-weight: 500;
    }


/*--   Sub Top Banner --*/  
    #sub-top-banner {
        background-color: white;
        position: fixed; /* Set the navbar to fixed position */
        top: 85px; /* Position the navbar at the top of the page */
        width: 100%; /* Full width */   
        z-index: 1001;
    }


    .sub-top-banner-div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between    
    }

/*--   Sub Top Banner left part  --*/  
    #sub-top-banner-left {
        height: 50px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        color: #adb0b3;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        transition: 0.25s;
    }

    #sub-top-banner-left P:hover {
        opacity: 0.8;
        transition: 0.25s;
    }

    #sub-top-banner-left p {
        font-family: 'Gotham-Bold';
        text-align: center;
        width: 170px;
        margin-right: 4px;
        padding-bottom: 12px;
        border-bottom: solid 6px transparent;  
    }

    #sub-top-banner-left a {
        color : #9fa3a7;
        text-decoration: none;
        transition: 0.25s;
    }

    #sub-top-banner-left a:active {
        color: black;
    }
    


    .genre-selected {
        border-bottom: solid 6px #009cda !important;  
    }

    /*--   Sub Top Banner right part  --*/  
    #sub-top-banner-right {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    #sub-top-banner-right :first-child {
        color: #009cda !important;
        margin-right: 55px;
    }

    #sub-top-banner-right :nth-child(3) {
        margin-left: 6px;
        color: black;
        font-size: 15px;
        font-weight: 500;
    }
    #sub-top-banner-right :nth-child(2) {
        margin-top: -5px;                /* vertical position ajustment */
    }

    #nb-wallet-item {    
        color: #939598;
        font-size: 15px;
        font-weight: 500;
    }




/* -------------- Jumbotron ------------- */ 
/* -------------------------------------- */

    #jumbotron {
        margin-top: 135px;
        background-image: url("../img/topbanner.jpg");        
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height: 480px;
        text-align: center;
    }

    #jumbotron-linear-gradient {
        background-image: -webkit-linear-gradient(315deg, rgba(30,30,30,0.5) 30%, rgba(46,46,46,0.4) 80%);
        background-image: linear-gradient(-225deg, rgba(30,30,30,0.5) 30%, rgba(46,46,46,0.4) 80%);
        width: 100%;
        height: 480px;
    }

    #fashion-logo {
        margin-top: 120px;
    }

    #jumbotron-div h1{
        margin-top: 45px;
        font-family:'Gotham-Light';
    }

    #jumbotron-div p{
        margin: 15px auto 0 auto;
        width: 580px;
        font-family:'Gotham-Book';
        font-size: 15px;
        line-height: 18px;
    }



/* -------------- Main ------------- */ 
/* --------------------------------- */

    #short-by {
        width: 100%;
        height: 98px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        color: #58595b;
        padding-right: 40px;
    }

    #short-by-arrow{
        margin-left: 15px;
    }

    #main-div-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        margin-bottom: 90px;
    }

/*---- Categories ----*/
    #categories {
        margin-right: 30px;
        -ms-flex-preferred-size: 280px;
        flex-basis: 280px;
        -ms-flex-negative: 0;
        flex-shrink: 0;

        background-color: #fafafa;  
    }


    #categories h1{
        font-family: 'Gotham-medium';
        font-weight: 400;
        font-size: 18px;   
        line-height: 55px;
        padding-left: 30px;
        color: #363636;
        background-color: #f5f5f5;
    }

    #categories>ul{
        padding-left: 26px;
        padding-right: 26px;
        
    }

    #menu-list>li {
        font-family: 'Gotham-Book';
        font-weight: 400;
        font-size: 15px;   
        line-height: 52px;
        margin-bottom: 3px;
        color: #363636;
        border-bottom: 1px solid #f2f2f2;
        display: flex;
        justify-content: space-between;
    }

    #menu-list>li:hover {
        opacity: 0.7;
        color: #009cda;
    }

    #menu-list>li:after {
        content: url('../img/arrow-down.png');
        margin-right: 15px;
    } 

    #menu-list>li:hover{
        cursor: pointer;
    }

    .green-bold{
        color: #9cbf3e !important;
        font-family: 'Gotham-Bold' !important;
        text-transform: uppercase;
    }

    .green-bold{
        color: #9cbf3e !important;
        font-family: 'Gotham-Bold' !important;
        text-transform: uppercase;
    }

    .cat-selected{
       color: #009cda !important;
    }


    .sub-categorie li:before {
        content: '\25B8';
        margin-right: 15px;
    }

    .sub-categorie li{
        font-family: 'Gotham-Thin' !important;
        font-size: 14px !important;
        line-height: 10px;
        font-weight: 700;
        color: #cacaca;
        text-align: left;
        padding: 5px 0px;
    }
    .sub-categorie li:hover{
        color: #009cda;
    }

    .sub-categorie a{
        text-decoration: none;
    }
   

    .sub-categorie {
        display: none;
    }


/*---- Products ----*/
    #products{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
/*        border: solid 1px red;*/
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }


    /*---- Product ----*/
    .product-item{
        position: relative;
        width: 280px;
        height: 460px;
/*        border: solid 1px orange;  */
        color: #444444;
        font-family: 'Gotham-Medium';
        font-size: 15px;
    }

    .product-item-img{
        height: 317px;
        width: 100%;        
        
    }

    .product-item-saleicon-img{
        position: absolute;
        top: 8px;
        right: 0px;
    }

    .sale-icon{
        content: url("../img/sale-logo.png") !important;
    }
    .new-icon{
        content: url("../img/new-logo.png");
    }


    .product-item-wishlisticon-img{
        position: absolute;
        top: 8px;
        left: 12px; 
        transition: 0,4s;
    }

    .wishlist-active{
        content: url("../img/wishlist-logo-active.png");
        transition: 0,4s;
    }

    .product-item-description{
        padding-top: 25px;
    }

    .img-bullet{
        position: absolute;
        top: 295px;
        left: 126px;
    }

    hr{
        color: #e6e6e;
    }

    .product-item-price-and-addcard{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .btn-add-card{
        margin-right: 8px;
        text-decoration: none;
        font-family: 'Gotham-Bold';
        font-size: 15px;
        padding: 15px 25px;
        color: #009cda;
        border: solid 2px #009cda;
        border-radius: 10px;
    }

    .btn-add-card:hover{
        opacity: 0.8;
    }


/* -------------- Footer ------------- */ 
/* ----------------------------------- */
    #footer{
        background-color: #282828;
    }

    #footer-div{
        height: 350px;
        padding-top: 85px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }

    
    #logofooter{
        height: 90px;
        width: auto;
    }

    #footer-div h3{
        font-family: 'Gotham-Bold';
        font-size: 15px;
        margin-bottom: 30px;
    }

    #footer-div ul {
        margin: 0.75em 0;
        padding: 0 1em;
        list-style: none;
    }

    #footer-div ul a{
        text-decoration: none;
    }

    #footer-div li{
        font-family: 'Gotham-Medium';
        font-size: 15px;
        margin-bottom: 12px;
        color: #EEE;
        
/*
        position: relative;
        right: 15px;
*/ 
    }
/*
#footer-div li:before { 
    content: '\25B8';
    margin-right: 5px;
}
*/


    #footer-div li:before { 
        content: "";
        border-color: transparent #EEE;
        border-style: solid;
        border-width: 0.35em 0 0.35em 0.45em;
        display: block;
        height: 0;
        width: 0;
        left: -1em;
        top: 0.7em;
        position: relative;
    }




    .media-logo img{
        margin-left: 20px;
    }


/* -------------- Copyright ------------- */ 
/* -------------------------------------- */

    #copyright-div{
        font-family: 'Gotham-Book';
        height: 70px;
        color: #404040;
        
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    #copyright-div img{
        margin-left: 50px;       
    }



















































